.profile__name{
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 189px;
}
@media screen and (min-width: 1024px) {
    .profile__name{
        text-align: start;
        font-size: 42px;
        line-height: 48px;
        padding-left: 0;
        max-width: 400px;
    }
}