.photo-grid__like-counter {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-top: 3px;
}